
*{
    margin:0;
    padding: 0;
    box-sizing:border-box ;
    font-family: "Lato", "sans-serif";
    font-size: medium;
    font-style: normal;

}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav {
    
  
    flex: 1;
    text-align: right;
    text-decoration: none;
}

nav ul{
    display: inline-block;
    list-style-type:none;
    
}

nav ul li{
     display: inline-block;
     margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

.container{
    max-width: 1300px; 
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

p{
    color: #555;
    padding: 5px;
}

.button{
    display: inline-block;
    margin: 30px 0;
    background-color: orangered;
    border-radius:30px ;
    color:white;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}
.button:hover{
    background:blueviolet;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.coln {
    flex-basis: 50%;
    min-width: 300px;

}
.coln img{
    max-width: 100%;
    padding:50px 0;
}
.coln h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.header{
    background: radial-gradient(#f6f4f22e,#77b8ea);
}
.header .row{
    margin-top:70px ;

}
.products{

margin: 70px 0px;

}
.col-2{
flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
 
}
.col-2 img{
width: 100%;

}

.smallcontainer{
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}


.col-3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
}
.col-3 img{
width: 100%;

}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    color: orangered;
    line-height: 60px;
}
.title::after{
    content:'';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%);
  }


.col-3 p {
  font-size: 14px;
}
.col-3 a{
    text-decoration: none;
}


.rating{
    color: #ff523b;
}
.col-3:hover{
    transform:translateY(5px)
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.coln .offer-img{
    padding: 50px;
    width: 600px;
}
small{
    color:#555
}

/* testimonial */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-2{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.1);
    cursor:pointer;
    transition: transform 0.5s;
}

.testimonial .col-2 img{
 width: 100px;
 padding: 40px 20px;
 border-radius: 50%;
}
.testimonial .col-2 :hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 35px;
    color: peru;
}
.col-2 p{
    font-size: 12px;
    margin: 12px 0;
    color:#9b2525;
}

.testimonial .col-2 h3{
    color:grey;
    font-size: 20px;
    font-weight: 600px;
}

.brand{
    margin: 100px auto;
}
.col-4{
    
    width: 10%
}
.col-4 img{
    display: flex;
    width: 70%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-4 img:hover{
    filter: grayscale(0);
}

.footer{
    
    background:#000;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 20px;
    width: 100%;
    height:100%
    
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom:20px;
    margin-left: 20px;
    

}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{

    min-width: 250px;
    margin-bottom:20px;
}
.footer-col-1{
    flex-basis:30%;
    
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    
    width:180px;
    margin-bottom: 20px;
}
.footer-col-2 h5{
    word-wrap:break-word
}
.footer-col-3,.footer-col-4{
flex-basis: 12%;
text-align: center;
}

ul{
    list-style-type: none;
    
    
}
ul li{
    margin-bottom: 10px;
}
.text{
 margin-top: 0px;
}
.app-logo{
    margin-top: 20px;

}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
#menu{
    width: 28px;
    margin-left: 20px;
    display: none;

}
.img-icon{
    width: 20px;
    
}
/* alL Products */

.product{

margin-top:50px ;
text-align: center;

}

.drop{
    margin-left: 20px;
    margin-bottom: 20px;

}
.page{
    margin-left: 15%;
}

/*single product details */

.single-product{
    margin-top: 30px;
}

.single-product .coln-img{
    padding: 0;
}

.single-product .coln{
    padding: 10px;
}
.single-product h4{

    margin:20px 0;
    font-size:22px;
    font-weight: bold;
    color: #555;

}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 30px;
}
.single-product a{
    margin-left: 10px;
}

.single-product input{
    width: 50px;
    height: 40px;
    border: 1px solid rgb(239, 66, 66);
    padding-left:10px ;
    font-size: 20px;
    margin-right: 10px;
}
input:focus{
    outline: none;
}
.small-row-img{
    display:flex;
    justify-content: space-between;
    
}
.small-col-img{
    flex-basis: 24%;
    cursor: pointer;
    
    
}

.view5{
    margin-left: 90%;
    margin-bottom: 150px;
}

.cart-page{
 
    margin: 80px auto;
    
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    
}

.cart-info p {
    text-decoration: line-through;
}


th{
    text-align: left;
    padding: 5px;
    font-weight: normal;
    background-color: #53a5f1;
 
}
.table-head{
   flex-direction: column;
}
td input{
    margin-left: 15px;
    width: 30px;
    height: 30px;
    
}
td{
    padding: 10px 5px;
    
}
td a{
    text-decoration: none;
}

td img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
   

}
.total-price table{
    font-family: "Poppins",sans-serif;
    width: 100%;
    border-top: 3px solid rgb(42, 120, 144);
}
td:last-child{
    text-align : right;

}
th:last-child{
    text-align: right;
}
.account{
    display: flex;
    padding: 20px;
    border-radius: 5px;
}
.coln-4{
    max-width: 50%;
}


.formcontain{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width:500px;
    margin: auto;

}

form h2{
    color: #df3333;
    font-weight: bolder;
}

.formcontain input{
    margin: 10px;
    width:200px;
    padding: 5px;
    border-radius: 5px;
    
}

label{
    font-size: 20px;
    margin-left: 10px;
}

.account button{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: #3b90ff;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    
}

.formcontain a{
    text-decoration: none;
}

@media only screen and (max-width:800px){
    nav #Menuitems{
        position: absolute;
        top: 70px;
        left:0;
        background:#333 ;
        width :100%;
        overflow: hidden;
        transition: max-height 0.5;
    }
    nav #Menuitems li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav #Menuitems li a{
        color: #fff;

    }
    #menu{
        display: block;
        cursor:pointer;
    }

}

@media only screen and(max-width:600px){

single-product h1{
    font-size: 25px;
    line-height: 22px;
}
cart-page p{
    display: none;

}

}
